.auth-container {
    background-image: url('./assets/imgs/bg-auth.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.auth-container .login {
    height: 100vh;
}

.overlay {
    background: linear-gradient(51deg, rgba(47, 140, 51, 0.63) -22.39%, rgba(0, 0, 0, 0.62) 61.76%);
}


.ps-sidebar-container .ps-menu-button:hover {
    background-color: rgba(0, 128, 0, 0.438) !important;
}

.side-bar {
    /* position: fixed !important;
    top: 0;
    bottom: 0; */
    /* z-index: 555555555555; */
    /* background-color: rgba(31, 38, 62, 0.5); */
    padding-right: 5px;
    /* position: fixed; */
    /* top: 0; */

}


.bg-kohly {
    background-color: rgba(31, 38, 62, 1);
}

.box {
    position: relative;
    background-color: #F7F7F7;
}

.box input {
    background-color: #F7F7F7 !important;
}

.icon {
    border-right: 1px;
}

.Mylogo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header-container {
    background-image: url('../src/assets/imgs/Header1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.table-head {
    /* background-color: red !important; */
}

.t-h {
    background-color: rgb(211, 211, 211) !important;
}

.recipe-img {
    width: 55px;
    height: 55px;
}

.noUser-img {
    width: 25px;
    height: 25px;
}

.active>.page-link,
.page-link.active {
    /* background-color: rgb(39, 131, 39); */
    border-color: white;
}

.active>.page-link,
.page-link.active:hover {
    background-color: rgb(47, 140, 51);
}


.container-fluid {
    /* padding-left: 0 !important; */
    /* padding-right: 0 !important; */
}

.sb-button {
    background-color: green !important;
    border: none;
    padding: 7px 7px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.css-dip3t8 {
    background-color: rgba(31, 38, 62, 0.7) !important;
    color: white;
}

.menu-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fake-nav {
    height: 50px;
    width: 25%;
    background-color: transparent;
    position: fixed;
    top: 0;
}

.navbar {
    position: fixed;
    width: 89.5%;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 9px 0 rgba(71, 70, 70, 0.6);
}

.css-1wvake5 {
    border: none !important;
}

@media (max-width: 777px) {
    .content-container {
        padding: 5px !important;
    }

    .add-new-cat {
        margin-bottom: 10px;
    }

    .name-search-recipe {
        margin-bottom: 10px;
    }

    .navbar {
        padding-left: 5px;
        position: fixed;

    }

}

@media (max-width: 945px) {

    .side-bar {
        display: none;
    }

    .hidden-sb {
        display: block !important;
    }

    .navbar {
        width: 95%;
    }

    .main-button {
        padding-left: 18px !important;
    }

    .home {
        height: auto !important;
    }

    .pagination {

        --bs-pagination-padding-x: 0.45rem;
        --bs-pagination-padding-y: 0.45rem;
    }

}