.auth-container {
    background-image: url('./assets/imgs/bg-auth.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.auth-container .login {
    height: 100vh;
}

.overlay {
    background: linear-gradient(51deg, rgba(47, 140, 51, 0.63) -22.39%, rgba(0, 0, 0, 0.62) 61.76%);
}


.ps-sidebar-container .ps-menu-button:hover {
    background-color: rgba(0, 128, 0, 0.438) !important;
}

.side-bar {
    /* position: fixed !important;
    top: 0;
    bottom: 0; */
    /* z-index: 555555555555; */
    background-color: rgba(31, 38, 62, 0.5);
    padding-right: 5px;
    /* position: fixed; */
    /* top: 0; */

}


.bg-kohly {
    margin-right: 20px;
    background-color: rgba(31, 38, 62, 1);
}

.box {
    position: relative;
    background-color: #F7F7F7;
}

.box input {
    background-color: #F7F7F7 !important;
}

.icon {
    border-right: 1px;
}

.Mylogo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header-container {
    background-image: url('../src/assets/imgs/Header1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.table-head {
    /* background-color: red !important; */
}

.t-h {
    background-color: rgb(211, 211, 211) !important;
}

.recipe-img {
    width: 55px;
    height: 55px;
}

.noUser-img {
    width: 85px;
    height: 85px;
}

.active>.page-link,
.page-link.active {
    background-color: rgb(28, 92, 28);
    border-color: white;
}

.active>.page-link,
.page-link.active:hover {
    background-color: black;
}

/* body {
    background-color: darkgoldenrod;
} */

.container-fluid {
    padding-left: 0 !important;
    /* padding-right: 0 !important; */
}